body {
    background-image: url("header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

#main-content {
    text-align: center;
    margin-top: 20%;
}

h1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
}

#submit-button {
    margin-top: 16%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: orangered;
}